# 1. Ignorer tous les fichiers et dossiers par défaut
*

# 2. Ne pas ignorer ce fichier .gitignore lui-même
!.gitignore

# --- SECTION BACKEND ---
# Autorise le dossier backend ET tout son contenu (récursivement)
!backend/
!backend/**

# --- SECTION FRONTEND ---
# Autorise le dossier frontend ET tout son contenu (récursivement)
!frontend/
!frontend/**

# --- EXCEPTIONS ---
# Maintenant que tout est autorisé, on peut spécifiquement IGNORER ce qu'on ne veut pas.


backend/__pycache__
backend/build
backend/build_env
backend/dist
backend/patch
backend/build.ps1
backend/build.py
backend/build.sh
backend/PremiereCopilot.spec


frontend/PremiereGPTBeta/js/libs/PremiereCopilotAPI/
frontend/build.ps1
frontend/build.sh
frontend/PremiereGPTBeta.p12
frontend/PremiereGPTBeta.zxp

